
.LogInStyle h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(35, 144, 190); 
    font-size: 5rem;
    margin-bottom: 0;
}
.LogInStyle h2 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: rgb(245, 202, 48);
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
}
.LogInStyle p {
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: #9B7348;
    font-size: 1.8rem;
}
.LogInStyle img {
    margin: auto;
}
body {
    background-color: ;
    background-position: center center;
    background: radial-gradient(ellipse, #EDF5F9, #7DCFF1);
    margin-bottom: 0px;
    margin-top: 0px;

}
/*User logged*/
.LogInStyle h3 {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    color: rgb(35, 144, 190); 
    font-size: 2rem;
    margin-bottom: 0;
}
.LogInStyle h4 {
    font-family: 'Poiret One', cursive;
    text-align: left;
    color: rgb(119, 107, 62);
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0;
}
.photo-user {
    width: 4.3rem;
    position: fixed;
    top: 0.3em;
    right: 0.3em;
}
.btn-user {
    width: 2.5rem;
    position: fixed;
    top: 8em;
    right: 0.5em;
    font-size: 0.7rem;
    background: rgba(0, 0, 0, 0.5);
}

